/* extra small */
@media (max-width: 575px) {

    /* NavBar */
    header nav .logo {
        width: 60px;
        height: 60px;
    }

    button {
        border-color: #EDBB00 !important;
    }

    header nav ul li:first-child {
        margin-left: auto;
    }
    
    header nav ul li {
        margin: 15px auto 15px;
    }
    

    /* BackGround Video */
    #video .text-cont h1 {
        font-size: 50px;
    }

    #video .text-cont p {
        font-size: 40px;
        margin-top: 20px;
    }
    
   
    /* Section Top */
    .section-top {
        padding: 0;
        border-left: #004D98 10px solid;
        border-right: #A50044 10px solid;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }

    .section-top h1 {
        font-size: 20px;
        padding: 5px 0;
        transition: all ease-in-out .2s;   
    }


    /* Squad */
    #squad {
        padding: 0 0 20%;
    }

    #squad-carousel .carousel-inner .carousel-item img {
        max-width: 40%;
    }

    #squad-carousel .carousel-inner .carousel-item p {
        margin-left: 25%;
        margin-right: 25%;
        padding: 0;
        font-size: 20px;
    }

    #squad-carousel .carousel-inner .carousel-item p span {
        font-size: 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: #EDBB00;
        width: 40px;
        height: 40px;
        top: 200px;
        line-height: 1;
        font-size: 20px;
    }


    /* honours */
    #honours .overlay-parent .card {
        display: block;
        width: 70%;
        margin: 20px auto;
    }

    #honours .overlay-parent .card .card-body h3 {
        padding: 5px 0;
        font-size: 20px;
    }


    /* Legebds */
    #legends .container {
        margin: 130px auto 20px;
    }
    #legends .item {
        height: 500px;
    }
    #legends .item .fliip {
        width: 70%;
        margin: auto;
    }
    #legends .item .fliip .front .pic img {
        max-width: 80%;
        height: 250px;
    }
    #legends .item .fliip .back .bc-contnt {
        max-width: 80%;
        height: 250px;
        margin: auto;
    }


    /* Stadium */
    #stadium .pic .content h2 {
        font-size: 70px;
        margin-bottom: 80px;
    }

    #stadium .pic .content article {
        font-size: 20px;
    }

    #stadium .pic .content p {
        font-size: 40px;
        margin: 80px 0 30px;
    }


    /* Partners */
    #partners .container {
        padding: 50px 20px;
    }

    #partners .item {
        padding: 5px;
        margin: 20px;
    }



    /* Footer */
    footer .cont p {
        font-size: 15px;
        letter-spacing: 0;
        padding: 11px 0;
    }

    footer .cont p span:first-of-type {
        font-size: 20px;
        padding: 10px;
    }

    footer .cont p span:last-of-type {
        display: none;
    }


    /* ScrollTop Button */
    #scroll-top {
        width: 40px;
        height: 40px;
        right: 5px;
        bottom: 55px;
    }

    #scroll-top:hover {
    width: 50px;
    height: 50px;
    }


}



/* Small */
@media (min-width: 576px) and (max-width: 767px) {

    /* NavBar */
    header .container {
        min-width: 95% !important;
    }
    header nav .logo {
        width: 80px;
        height: 75px;
    }

    button {
        border-color: #EDBB00 !important;
    }

    header nav ul li:first-child {
        margin-left: auto;
    }
    
    header nav ul li {
        margin: 15px auto;
    }

    header nav ul li a {
        font-size: 18px;
        padding: 8px !important;
    }


    /* BackGround Video */
    #video .text-cont h1 {
        font-size: 80px;
    }

    #video .text-cont p {
        font-size: 50px;
        margin-top: 35px;
    }


    /* Section Top */
    .section-top {
        padding: 10px 0;
        border-left: #004D98 15px solid;
        border-right: #A50044 15px solid;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }

    .section-top h1 {
        font-size: 25px;
        padding: 5px 0;
        transition: all ease-in-out .5s;   
    }


    /* Squad */
    #squad {
        padding: 0 0 20%;
    }

    #squad-carousel .carousel-inner .carousel-item img {
        max-width: 50%;
    }

    #squad-carousel .carousel-inner .carousel-item p {
        padding: 5px 0;
        font-size: 30px;
    }

    #squad-carousel .carousel-inner .carousel-item p span {
        font-size: 30px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: #EDBB00;
        width: 60px;
        height: 60px;
        line-height: .8;
        font-size: 25px;
    }



    /* honours */
    #honours .overlay-parent .card {
        display: block;
        width: 70%;
        margin: 20px auto;
    }

    #honours .overlay-parent .card .card-body h3 {
        padding: 10px 0;
        font-size: 25px;
    }


    /* Stadium */
    #stadium .pic .content h2 {
        font-size: 90px;
        margin-bottom: 80px;
    }

    #stadium .pic .content article {
        font-size: 23px;
    }

    #stadium .pic .content p {
        font-size: 60px;
        margin: 80px 0 30px;
    }


    /* Footer */
    footer .cont p {
        font-size: 20px;
        letter-spacing: 0;
        padding: 11px 0;
    }

    footer .cont p span:first-of-type {
        font-size: 25px;
        padding: 10px;
    }


    /* ScrollTop Button */
    #scroll-top {
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 25px;
    }

    #scroll-top:hover {
    width: 60px;
    height: 60px;
    }

}




/* medium */
@media (min-width: 768px) and (max-width: 991px) {

     /* NavBar */
    header nav .logo {
        width: 90px;
        height: 80px;
    }

    button {
        border-color: #EDBB00 !important;
    }

    header nav ul li:first-child {
        margin-left: auto;
    }
    
    header nav ul li {
        margin: 15px auto;
    }

    header nav ul li a {
        font-size: 20px;
        padding: 8px !important;
    }




    /* BackGround Video */
    #video .text-cont h1 {
        font-size: 100px;
    }

    #video .text-cont p {
        font-size: 60px;
        margin-top: 40px;
    }


    /* Section Top */
    .section-top {
        padding: 15px 0;
        border-left: #004D98 20px solid;
        border-right: #A50044 20px solid;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 45%;
    }

    .section-top h1 {
        font-size: 30px;
        padding: 5px 0;
        transition: all ease-in-out .5s;   
    }





    /* Squad */
    #squad {
        padding: 0 0 20%;
    }

    #squad-carousel .carousel-inner .carousel-item img {
        max-width: 50%;
    }

    #squad-carousel .carousel-inner .carousel-item p {
        padding: 10px 0;
        font-size: 35px;
    }

    #squad-carousel .carousel-inner .carousel-item p span {
        font-size: 35px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: #EDBB00;
        width: 65px;
        height: 65px;
        line-height: .6;
        font-size: 30px;
    }





    /* honours */
    #honours .overlay-parent .card {
        display: block;
        width: 60%;
        margin: 30px auto;
    }

    #honours .overlay-parent .card .card-body h3 {
        padding: 10px 0;
        font-size: 25px;
    }




    /* Stadium */
    #stadium .pic .content h2 {
        font-size: 110px;
        margin-bottom: 80px;
    }

    #stadium .pic .content article {
        font-size: 25px;
    }

    #stadium .pic .content p {
        font-size: 75px;
        margin: 80px 0 30px;
    }



    /* ScrollTop Button */
    #scroll-top {
        width: 50px;
        height: 50px;
        right: 5px;
        bottom: 20px;
    }

    #scroll-top:hover {
    width: 60px;
    height: 60px;
    }


}







